<div class="container">
  <div class="contactContainer">
    <h2 class="heading">
    <span
    class="headingMain"
    data-aos="fade-up"
    data-aos-delay="100"
    data-aos-duration="1000"
    data-aos-easing="ease forwards"
    data-aos-offset="100"
    data-aos-once="true"
    >Contact</span
  ></h2>
  <table class="contactInfo">
  <tr>
  <td><img src="../../../assets/img/mail.jpg" alt="Email"></td>
  <td>manisrichippa8@gmail.com</td>
  </tr>
  <tr>
  <td><img src="../../../assets/img/phone.jpg" alt="Phone"></td>
  <td>8125319410</td>
  </tr>
  <tr>
  <td><img src="../../../assets/img/address.jpg" alt="Address"></td>
  <td>7-3-118/1, Baagulawada, Nirmal</td>
  </tr>
  </table>
  </div>
  </div>





  