<div class="container">
  <div class="aboutContainer">
    <h2>
      <span
        class="headingMain"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
        >About Me</span
      >
      <span
        class="headingSub"
        data-aos="fade-up"
        data-aos-delay="150"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        Here you will find more information about me, what I do, and my current
        skills mostly in terms of programming and technology.
      </span>
    </h2>
    <div class="aboutContent">
      <div class="aboutContentMain">
        <h3
          class="aboutContentTitle"
          data-aos="fade-down-right"
          data-aos-delay="160"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          Get to know me!
        </h3>
        <div class="aboutContentDetails">
          <p
            class="aboutContentDetailsPara"
            data-aos="fade-up-right"
            data-aos-delay="180"
            data-aos-duration="1000"
            data-aos-easing="ease forwards"
            data-aos-offset="100"
            data-aos-once="true"
          >
            I'm a passionate and dedicated 
            <strong>Full-Stack Web Developer</strong> with a proven track record
            of creating <strong>robust</strong> and
            <strong>scalable</strong> web applications. My expertise spans both
            front-end and back-end technologies, including React,Blazor,Dotnet
            Angular. With a keen eye for design and a commitment to clean,
            efficient code, I strive to deliver exceptional user experiences. I
            excel in problem-solving and collaborating with cross-functional
            teams to deliver innovative solutions. I'm excited to leverage my
            skills to tackle new challenges and drive innovation in the world of
            Full Stack development.
          </p>
          <p
            class="aboutContentDetailsPara"
            data-aos="fade-right"
            data-aos-delay="180"
            data-aos-duration="1000"
            data-aos-easing="ease forwards"
            data-aos-offset="100"
            data-aos-once="true"
          >
            Feel free to Connect or Follow me
            on my
            <a
              rel="noreferrer"
              href="https://www.linkedin.com/in/chippa-manisri-5486a8286"
              target="_blank"
              >Linkedin</a
            >
            where I post useful content related to Web Development and
            Programming.
          </p>
          <p
            class="aboutContentDetailsPara"
            data-aos="fade-up-left"
            data-aos-delay="180"
            data-aos-duration="1000"
            data-aos-easing="ease forwards"
            data-aos-offset="100"
            data-aos-once="true"
          >
            I'm open to <strong>Job</strong> opportunities where I can
            contribute, learn and grow. If you have a good opportunity that
            matches my skills and experience then don't hesitate to
            <strong>contact</strong> me.
          </p>
        </div>
        <div
          class="btn"
          data-aos="fade-up"
          data-aos-delay="200"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          <button mat-raised-button (click)="redirectToContct()">
            Contact
          </button>
        </div>
      </div>
      <div class="aboutContentSkills">
        <h3
          class="aboutContentTitle"
          data-aos="fade-down-left"
          data-aos-delay="160"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          My Skills
        </h3>
        <div
          class="skills"
          data-aos="fade-up-left"
          data-aos-delay="180"
          data-aos-duration="1000"
          data-aos-easing="ease forwards"
          data-aos-offset="100"
          data-aos-once="true"
        >
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/html.png"
              id="html"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/css.png"
              id="css"
            />
          </div>
          <div class="skillsIcon">
            <img
            class="imgResponsive"
            src="../../../assets/skills/js.png"
            id="js"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/bootstrap.png"
              id="bootstrap"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/sql.png"
              id="SQL"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/dotnet.jpg"
              id="spring boot"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/react.png"
              id="scss"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/flask.jpg"
              id="github"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/django.jpg"
              id="github"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/blazor.jpg"
              id="github"
            />
          </div>
          <div class="skillsIcon">
            <img
              class="imgResponsive"
              src="../../../assets/skills/angular.png"
              id="angular"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
