<div class="container">
  <div class="projectContainer">
    <h2 class="heading">
      <span
        class="headingMain"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
        >Projects</span
      >
      <span
        class="headingSub"
        data-aos="fade-up"
        data-aos-delay="150"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        Here you will find some of the personal POC'S on that i
        worked
      </span>
    </h2>

    <app-project-items Responsive>
      <img
        src="../../../assets/projects/Screenshot (189).png"
        alt="Software Screenshot"
        class="projectsRowImg"
        loading="lazy"
      />
      <h3
        class="projectsRowContentTitle"
        data-aos="fade-down-left"
        data-aos-delay="120"
        data-aos-duration="500"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        Project One
      </h3>
      <p
        class="projectsRowContentDesc"
        data-aos="fade-left"
        data-aos-delay="150"
        data-aos-duration="500"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
      In a creative showcase of my abilities, I designed and implemented a personalized portfolio website using HTML
       for structure, CSS for styling, and JavaScript for interactivity, highlighting my skills 
       and projects in an engaging and user-friendly manner.
      </p>
    </app-project-items>

    <app-project-items Responsive>
      <img
        src="../../../assets/projects/Screenshot (190).png"
        alt="Software Screenshot"
        class="projectsRowImg"
        loading="lazy"
      />
      <h3
        class="projectsRowContentTitle"
        data-aos="fade-down-left"
        data-aos-delay="120"
        data-aos-duration="500"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        Project Two
      </h3>
      <p
        class="projectsRowContentDesc"
        data-aos="fade-left"
        data-aos-delay="150"
        data-aos-duration="500"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
      For a leave management system using
ASP.NET
MVC, I implemented a comprehensive solution that effectively tracks and manages employee leaves, 
utilizing the Model-View-Controller architecture for a structured and maintainable codebase.
      </p>

    </app-project-items>

    <app-project-items Responsive>
      <img
        src="../../../assets/projects/Screenshot (191).png"
        alt="Software Screenshot"
        class="projectsRowImg"
        loading="lazy"
      />
      <h3
        class="projectsRowContentTitle"
        data-aos="fade-down-left"
        data-aos-delay="120"
        data-aos-duration="500"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        Project Three
      </h3>
      <p
        class="projectsRowContentDesc"
        data-aos="fade-left"
        data-aos-delay="150"
        data-aos-duration="500"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
      For a leave management project, I developed a robust system using React for the frontend, 
      .NET for the backend, and MSSQL for the database, ensuring efficient leave tracking and management for users.
      </p>
    </app-project-items>
    <app-project-items Responsive>
      <img
        src="../../../assets/projects/Screenshot (187).png"
        alt="Software Screenshot"
        class="projectsRowImg"
        loading="lazy"
      />
      <h3
        class="projectsRowContentTitle"
        data-aos="fade-down-left"
        data-aos-delay="120"
        data-aos-duration="500"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        Project Four
      </h3>
      <p
        class="projectsRowContentDesc"
        data-aos="fade-left"
        data-aos-delay="150"
        data-aos-duration="500"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
      Using Python Flask, I created a streamlined leave management system that simplifies the process of requesting,
       approving, and tracking employee leaves, leveraging the flexibility and simplicity of Flask to deliver a user-friendly experience.
      </p>
    </app-project-items>
    <app-project-items Responsive>
      <img
        src="../../../assets/projects/Screenshot (188).png"
        alt="Software Screenshot"
        class="projectsRowImg"
        loading="lazy"
      />
      <h3
        class="projectsRowContentTitle"
        data-aos="fade-down-left"
        data-aos-delay="120"
        data-aos-duration="500"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        Project Five
      </h3>
      <p
        class="projectsRowContentDesc"
        data-aos="fade-left"
        data-aos-delay="150"
        data-aos-duration="500"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
      In a Python Django project, I implemented a Poll app 
      functionality using an SQLite3 database, enabling seamless management of data with a robust and scalable backend architecture.
      </p>
    </app-project-items>
    <app-project-items Responsive>
      <img
        src="../../../assets/projects/Screenshot (268).png"
        alt="Software Screenshot"
        class="projectsRowImg"
        loading="lazy"
      />
      <h3
        class="projectsRowContentTitle"
        data-aos="fade-down-left"
        data-aos-delay="120"
        data-aos-duration="500"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        Project Six
      </h3>
      <p
        class="projectsRowContentDesc"
        data-aos="fade-left"
        data-aos-delay="150"
        data-aos-duration="500"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
      For a Blazor project, I developed a comprehensive CRUD (Create, Read, Update, Delete) functionality with authentication, 
      utilizing a Web API backend and an MSSQL database, ensuring secure and efficient data management for users.
      </p>
    </app-project-items>
    <app-project-items Responsive>
      <img
        src="../../../assets/projects/Screenshot (269).png"
        alt="Software Screenshot"
        class="projectsRowImg"
        loading="lazy"
      />
      <h3
        class="projectsRowContentTitle"
        data-aos="fade-down-left"
        data-aos-delay="120"
        data-aos-duration="500"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
        Project Seven
      </h3>
      <p
        class="projectsRowContentDesc"
        data-aos="fade-left"
        data-aos-delay="150"
        data-aos-duration="500"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
      >
      In an Angular application, I implemented a complete CRUD (Create, Read, Update, Delete) functionality using a Web API backend and an MSSQL database,
       providing users with a seamless and responsive interface for managing data.
      </p>
    </app-project-items>
    
  </div>
</div>
