<div class="timeline">
    <h2 class="heading">
        <span
        class="headingMain"
        data-aos="fade-up"
        data-aos-delay="100"
        data-aos-duration="1000"
        data-aos-easing="ease forwards"
        data-aos-offset="100"
        data-aos-once="true"
        >Education</span
      ></h2>
    <div class="main">
    <div class="left-main">
    <div class="dot-line"></div>
    <div class="text-box">
    <h2>{{ qualifications[0].degree }}</h2>
    <small>{{ qualifications[0].duration }}</small>
    <p>{{ qualifications[0].institution }}</p>
    <p>{{ qualifications[0].result }}</p>
    </div>
    </div>
    <div class="center-main">
    <div class="dot-line"></div>
    <div class="text-box">
    <h2>{{ qualifications[1].degree }}</h2>
    <small>{{ qualifications[1].duration }}</small>
    <p>{{ qualifications[1].institution }}</p>
    <p>{{ qualifications[1].result }}</p>
    </div>
    </div>
    <div class="right-main">
    <div class="dot-line"></div>
    <div class="text-box">
    <h2>{{ qualifications[2].degree }}</h2>
    <small>{{ qualifications[2].duration }}</small>
    <p>{{ qualifications[2].institution }}</p>
    <p>{{ qualifications[2].result }}</p>
    </div>
    </div>
    </div>
    </div>