.timeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--black);
    background: linear-gradient(
        to right,
        rgba(197, 225, 235, 0.8),
        rgba(193, 187, 218, 0.8)
      ),
      url(../../../assets/img/common-bg.svg);
    background-position: center;
    height: 100vh;
    min-height: 2rem;
    position: relative;
    overflow: hidden;
   }
   .main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
   }
   .left-main, .center-main, .right-main {
    width: 30%;
    position: relative;
   }
   .text-box {
    background-color: #f1f1f1;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease-in-out;
    height: 300px; 
   }
   .small {
    color: #666;
   }
   h2 {
    position: relative;
    top: 1rem;
    display: grid;
    padding: 1rem 2rem;
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    row-gap: 2rem;
   }
   .headingMain {
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    position: relative;
    color: var(--navy);
    font-weight: 600;
   }
   .headingMain::after {
    content: "";
    position: absolute;
    top: calc(100% + 1.8rem);
    height: 5px;
    width: 3rem;
    background: var(--navy);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
   }
   .left-main {
    animation: slideInLeft 1s ease-in-out;
   }
   .center-main {
    animation: slideInUp 1s ease-in-out;
   }
   .right-main {
    animation: slideInRight 1s ease-in-out;
   }
   @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
   }
   @keyframes slideInRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
   }
   @keyframes slideInUp {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
   }

   